# ignore unnecessary resources to make this repo light

### ignore .DS_store
.DS_Store

### ignore .idea (generated due to PyCharm project)
.idea

### conda env folder
src/conda_env

### output folder
output/*


